{% extends "org-base.html" %}

{% block content %}
<div class="right companycenter layout" >
		<div class="head">
			<h1>机构课程</h1>
		</div>
		<div class="brief group_list">
            {% for course in courses %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195" src="../media/courses/2016/11/mysql.jpg"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>django入门{{ course.name }}</h2></a>
                        <span class="fl">课时：{{ course.learn_times }}<i class="key">0</i></span>
                        <span class="fr">学习人数：3{{ course.students }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ course.course_org }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
            {% endfor %}


		</div>
			<div class="pageturn">
                <ul class="pagelist">
                    <li class="active"><a href="?page=1">1</a></li>
                </ul>
            </div>
	</div>

{% endblock %}
